<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
   <display-name>wildfly-chat</display-name>
   <module-name>wildfly-chat</module-name>

   <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>/web/*</url-pattern>
   </servlet-mapping>

   <security-constraint>
      <web-resource-collection>
         <url-pattern>/*</url-pattern>
         <http-method>GET</http-method>
         <http-method>PUT</http-method>
         <http-method>POST</http-method>
         <http-method>DELETE</http-method>
         <http-method>OPTION</http-method>
      </web-resource-collection>
      <auth-constraint>
         <role-name>manager</role-name>
         <role-name>guest</role-name>
      </auth-constraint>
   </security-constraint>
   <login-config>
      <auth-method>BASIC</auth-method>
   </login-config>
   <security-role>
      <role-name>manager</role-name>
   </security-role>
   <security-role>
      <role-name>guest</role-name>
   </security-role>

   <context-param>
      <param-name>resteasy.role.based.security</param-name>
      <param-value>true</param-value>
   </context-param>


</web-app>
